#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


/* FOR FORMS */
.card {
  padding: 2em;
  background-color: rgb(166, 197, 221);
  border-radius: 5px;
  /* filter: blur(50%); */  
}

.labelStyle {
  display: flex;
    flex-direction: column;
    flex: 1;
}

.submit {
  padding: 1em;
  width: 50%;
  border-radius: 3px;
  border: none;
  background-color: rgb(60, 77, 138);
  color: white;
  cursor: pointer;
  pointer-events: auto;
}

/* .read-the-docs {
  color: #888;
} */
